# Express backend configuration

PORT=3000
TINYFISH_API_KEY=
TINYFISH_RESEARCH_URL=https://www.google.com/
TINYFISH_BROWSER_PROFILE=lite
TINYFISH_RESEARCH_GOAL=
VULNERABILITY_REFRESH_LIMIT=100
VULNERABILITY_INTEL_TABLE=agent_vulnerability_intel
DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_NAME=agentshield
DATABASE_USERNAME=agentshield_app
DATABASE_PASSWORD=
DATABASE_SSL=
AGENT_SHIELD_DB_PATH=
